h1
{
  color: white;
}
nav{
  font-family: 'Quicksand', sans-serif;
background-color: black;
}
body{
  font-family: 'Quicksand', sans-serif;
  background-color: white;
}
.login{
  background-color: white;
}
#insta{
  font-family: 'Quicksand', sans-serif;
}
.navbar navbar-inverse{
  background-color: white;
}
