{%extends 'allofinsta/base.html'%}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<style media="screen">
  body {
    font-family: 'Quicksand', sans-serif;
  }
</style>
<div class="container">

  <div class="row">
    {% if articles%}
      <h2>These are the results for {{message}}</h2>
    {% else %}
      <h2>Sorry. We found no results for {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
      <div class="col-sm-6 col-md-3">
          <h1>{{image.image_name}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
