{% extends 'allofinsta/base.html' %}
<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<style>
  .container {
    font-family: 'Handlee', cursive;
    font-size: 30px;
    text-align: left;
    padding-top: 90px;
  }
  body {
    background-image: url(/static/images/doll.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
</style>
<div class="container">
    <div class="row mt-5"></div>
    <div class="row mt-5"></div>
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <div class="card card-info mt-5">
        <div class="card-header">
            <h2>Edit Your Profile</h2>
        </div>
        <div class="card-body">
                <form action="{%url 'edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                    <input type="submit" class="btn btn-info btn-sm" value="Post" style="font-size:20px;">
                </div>

                </form>
        </div>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>
{% endblock %}
